{% extends 'main/layout.html' %}

{% block title %}
    Форум
{% endblock %}

{% block content %}
    <div class="col-1 content-left"> </div>
    <div class="col-10 content-center">
        <h4> Разделы форума </h4>

        {% if chapters %}
            {% for el in chapters %}
                <div class="alert alert-warning">
                    <a href="{% url 'themes' el.id %}"> {{ el.title }}</a>
<!--                    <a href="{% url 'news-detail' el.id %}" class="btn-warning">Читать</a> -->
                </div>
            {% endfor %}
        {% else %}
            <p>Разделов форума пока нет</p>
        {% endif%}
    </div>
    <div class="col-1 content-right"></div>

    {% if user.is_authenticated %}
        {% if user.username == "admin" %}
            <div class="container">
                    <div class="row news_update">
                        <div class="col-4 content-left"> </div>
                        <div class="col-4 content-center">
                                <a href="{% url 'forum_create_chapter' %}" class="btn btn-info w-100">Добавить раздел форума</a>
                        </div>
                    </div>
            </div>
        {% endif%}
    {% endif%}


{% endblock %}
