{% extends 'main/layout.html' %}

{% block title %}
    Форум
{% endblock %}

{% block content %}
    <div class="col-1 content-left"> </div>
    <div class="col-10 content-center">
        <h4>Сообщения темы</h4>
<!--        <h2> Темы раздела "{{ chapter.title }}" </h2> -->
        <a href="{% url 'forum_home' %}"> Разделы форума</a>
        <a> / </a>
        <a href="{% url 'themes' chapter.pk %}"> {{ chapter.title }}</a>
        <a> / {{ theme.title }}</a>
        <h4></h4>
<!--        <h4> "{{ chapter.title }}" {{ theme.title }}</h4> -->
        {% if message %}
            {% for el in message %}
<!-- Начало------------------------------------------------------------------------>
                <div class="alert alert-warning">
                    <div class="container">
                        <div class="row news_update">
                            <div class="col-2 content-left">
                                <p> {{ el.owner }} </p>
                            </div>
                            <div class="col-9 content-center">
<!--                                <p> owner={{ el.owner }} el.id={{ el.id }} theme.pk={{ theme.pk }}</p> -->
                                <p>{{ el.message }}</p>
                                {% for image in el.picture.all %}
                                  <a href="{{ image.image.url }}" target="_blank">
                                  <img src="{{ image.image.url }}" alt="{{ image.title }}" height="50">
                                {% endfor %}
<!--
                                <img src="{{ MEDIA_URL }}{{el.messageimages.image.url}}">
-->
                                {% if user.is_authenticated %}
                                  <p>
                                    <a href="{% url 'forum_create_quote_message' chapter.id theme.id el.id %}">Цитировать</a>
                                    {% if user.username == "admin" or request.user == message.owner%}
                                      <a href="{% url 'forum_delete_message' chapter.id theme.id el.id %}">Удалить</a>
                                    {% endif %}
                                    {% if user.username == "admin"%}
                                      <a href="{% url 'forum_hide_message' chapter.id theme.id el.id %}">Скрыть</a>
                                    {% endif %}
                                  </p>
                                {% endif %}
<!--                    <a href="{% url 'news-detail' el.id %}" class="btn-warning">Читать</a> -->
                            </div>
<!--
                            <div class="col-1 content-center">
                                <p>id={{ el.id }} pk={{ theme.pk }}</p>
                            </div>
-->
                        </div>
                    </div>
                </div>
<!--Конец------------------------------------------------------------------------->
            {% endfor %}
        {% else %}
            <p>Сообщений в этой теме пока нет</p>
        {% endif%}
    </div>
    <div class="col-1 content-right"></div>

    {% if user.is_authenticated %}
        {% if user.username == "admin" %}
            <div class="container">
                    <div class="row news_update">
                        <div class="col-4 content-left"> </div>
                        <div class="col-4 content-center">
                          <a href="{% url 'forum_create_message' chapter.id theme.id %}" class="btn btn-info w-100">Новый комментарий</a>
                        </div>
                    </div>
            </div>
        {% endif%}
    {% endif%}


{% endblock %}
