{% extends 'main/layout.html' %}

{% block title %}
    Форум
{% endblock %}

{% block content %}
    <div class="col-1 content-left"> </div>
    <div class="col-10 content-center">
        <h4>Темы раздела форума</h4>
<!--        <h2> Темы раздела "{{ chapter.title }}" </h2> -->
        <a href="{% url 'forum_home' %}"> Разделы форума</a>
        <a> / {{ chapter.title }}</a>
        <h4></h4>
<!--        <h4> "{{ chapter.title }}" </h4> -->

        {% if themes %}
            {% for el in themes %}
                <div class="alert alert-warning">
                    <div class="container">
                        <div class="row news_update">
                            <div class="col-10 content-center">
                                <a href="{% url 'message' chapter.id el.id%}">{{ el.title }}</a>
                            </div>
                            <div class="col-2 content-right fs-6" >
                                &#x1f441; {{ el.views }} / {{ el.posts }}
                            </div>
                        </div>
                    </div>
<!--                    <a href="{% url 'news-detail' el.id %}" class="btn-warning">Читать</a> -->
                </div>
            {% endfor %}
        {% else %}
            <p>Тем в этом разделе пока нет</p>
        {% endif%}
    </div>
    <div class="col-1 content-right"></div>

    {% if user.is_authenticated %}
        {% if user.username == "admin" %}
            <div class="container">
                    <div class="row news_update">
                        <div class="col-4 content-left"> </div>
                        <div class="col-4 content-center">
                                <a href="{% url 'forum_create_theme' chapter.id %}" class="btn btn-info w-100">Новая тема</a>
                        </div>
                    </div>
            </div>
        {% endif%}
    {% endif%}


{% endblock %}
